<head>
    <link rel="stylesheet" href="../static/css/Weather.css">
    
</head>

{% extends "base.html" %}

{% block content %}
{% include "nav.html" %}

<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                What is the weather like?
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input class="input" type="text" placeholder="City Name">
                            {{ form.name }}
                            <input class="input" type="number" placeholder="Zip Code">
                            {% csrf_token %}
                        </div>
                        <button type="submit" class="button is-info">Search Weather</button>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for city in weather_data %}
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title">{{ city_weather.city }}</span>
                                    <br>
                                    <span class="subtitle">{{ city_weather.temperature }} Degrees Fahrenheit</span>
                                    <br> {{ city_weather.description }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}